:root {
  --text: white;
  --white-bg: #fafafa;
  --white-text: #e0e0e0;
  --white-secondary-text: rgb(214, 214, 214);
  --gray-card-bg: #eeeeee;
  --black: #000;
  --shop-bg: #282828;
  --bg-overlay: rgba(35, 35, 35, 0.811);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Montserrat", sans-serif;
}
body {
  min-height: 100vh;
  background-color: var(--white-bg);
}
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 0rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}
nav ul {
  list-style: none;
  justify-self: center;
  padding-right: 3.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 550;
  color: var(--black);
}
a:visited {
  color: inherit;
}

.nav-logo {
  max-width: 100%;
}
.shopping-basket-icon {
  max-width: 35px;
}
.nav-pages {
  text-decoration: none;
}
/* Nav styilng end */
/* Home page styling start*/
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  padding-top: 4em;
  padding-bottom: 5em;
}
.home-page h1 {
  font-family: "Boldonse", system-ui;
  letter-spacing: 7px;
  max-width: 700px;
  font-size: 5rem;
  text-align: center;
  padding: 1rem 0.7em;
  color: var(--white-bg);
  background-color: var(--black);
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  max-width: 150px;
  height: auto;
  padding: 0 0.8em 0.8em 0.8em;
  background-color: var(--gray-card-bg);
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.card h2 {
  font-size: 1rem;
  align-self: flex-start;
}
.card p {
  font-size: 0.6rem;
  align-self: flex-start;
}
.card-juice-image {
  max-width: 100%;
  object-fit: cover;
}
/* Home-Page-Styling end*/

/* Shop Page Styling start*/
.shop-bg-color {
  background-color: var(--shop-bg);
  padding-bottom: 7em;
}
.shop-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7em;
  gap: 6em;
}
.highlights-shop {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.highlights-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.highlights-title h1 {
  font-size: 2rem;
  color: var(--text);
}
.highlights-all-product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
}
.highlights-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.product-description-highlights {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  color: var(--white-text);
}
.highlights-product-img {
  max-width: 70%;
}
.product-description-highlights h2 {
  font-size: 1rem;
  font-weight: 800;
  align-self: center;
}
.product-description-highlights span {
  align-self: center;
  font-size: 0.8rem;
  font-weight: 550;
  color: var(--white-secondary-text);
}
/*Best Sellers Shop section Styling start*/
.best-sellers-shop {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.best-sellers-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.best-sellers-title h1 {
  font-size: 2rem;
  color: var(--text);
}
.best-sellers-all-product-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.best-sellers-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.product-description-best-sellers {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  color: var(--white-text);
}
.best-sellers-product-img {
  max-width: 70%;
}
.product-description-best-sellers h2 {
  font-size: 1rem;
  font-weight: 800;
  align-self: center;
}
.product-description-best-sellers span {
  align-self: center;
  font-size: 0.8rem;
  font-weight: 550;
  color: var(--white-secondary-text);
}
.inbetween-reviews {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.inbetween-reviews::after {
  content: "";
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-overlay);
}
.inbetween-reviews h1 {
  font-size: 5rem;
  z-index: 10;
}
.inbetween-reviews-bg {
  max-width: 100%;
  height: auto;
}
